.env
*.env

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

node_modules/
dist/
.next/

data/raw/*
!data/raw/.gitkeep
!data/processed/.gitkeep

*.log
.vscode/
.idea/
.DS_Store
Thumbs.db

.ruff_cache/ 
.pytest_cache/ 
*.egg-info/